<ion-view view-title="Map">
  <ion-content>

  <head>
    <meta charset="utf-8">
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    

    <title></title>
    
  </head>
  <body ng-controller="MapCtrl as vm">
    <ion-header-bar class="bar-dark" >
      <h1 class="title">Map</h1>
    </ion-header-bar>
    <ion-content scroll="false">
    
        <ng-map zoom="8" center="[-29.79, -51.15]" style="height: 100%;" scroll="false">
          <div>
            <!--<custom-marker position="[{{p[0]}}, {{p[1]}}]" ng-repeat="p in vm.positions">
              
            </custom-marker>-->
          </div>
        </ng-map>
            
    </ion-content>
    
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>
  </body>

  </ion-content>
</ion-view>
