<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Edit Client</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeClientEdit()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="clientEditSave()">
      <div class="list">

        <label class="item item-input">
          <!-- Descobrir como internacionalizar-->
          <span class="input-label">CNPJ</span>
          <input type="text" ng-model="client.cnpj">
          <!-- <input type="text" ng-model="clientData.CNPJ" ui-mask="999.999.999-99" ng-pattern="/^[0-9]{1,7}[-\.\/]?+$/"> -->
        </label>
        <label class="item item-input">
          <span class="input-label">Nome Fantasia</span>
          <input type="text" ng-model="client.tradeName">
        </label>
        <label class="item item-input">
          <span class="input-label">Razão Social</span>
          <input type="text" ng-model="client.legalName">
        </label>
        <label class="item item-input">
          <span class="input-label">Inscrição Estadual</span>
          <input type="text" ng-model="client.stateRegistrationNumber">
        </label>
        <label class="item item-input">
          <span class="input-label">Contato</span>
          <input type="text" ng-model="client.primaryContactName">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Rua</span>
          <input type="text" ng-model="client.street">
        </label>
        <label class="item item-input">
          <span class="input-label">Número</span>
          <input type="text" ng-model="client.addressNumber">
        </label>
        <label class="item item-input">
          <span class="input-label">Bairro</span>
          <input type="text" ng-model="client.neighborhood">
        </label>
        <label class="item item-input">
          <span class="input-label">Cidade</span>
          <input type="text" ng-model="client.city">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Estado
          </div>
          <select name="singleSelect" id="singleSelect" ng-model="client.stateID">
            <option ng-repeat="state in states" value="{{state.id}}">{{state.shortName}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">CEP</span>
          <input type="text" ng-model="client.postalCode">
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail</span>
          <input type="text" ng-model="client.email">
        </label>
        
        <label class="item item-input">
        <!-- vou ter que fazer um repeater aqui pra adicionar multiplos números -->
          <span class="input-label">Telefone</span>
          <input type="text" ng-model="client.phone">
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Salvar</button>
        </label>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
